@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
:root{
  --ca_clr:rgba(190, 62, 62, 1);
  --comp_clr:rgba(31, 40, 94, 1);
  --text-prm:rgba(255, 255, 255, 1);
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
  font-family: 'Times New Roman', sans-serif;
}

body{
    background-color:#03061B;
    font-size: 16px;
}
.visual-sec{
  display:flex;
  justify-content: center;
}

#left-container{
  width:20%;
}
#right-container{
  text-align: center;
  width:20%;
}
#container{
  /* background-color: white; */
  display:flex;
  justify-content: center;
  width:60%;
  height: 20rem;
  margin:1rem auto;

}

header{
  height: 50px;
}
.Mynav{
    position: fixed;
    width: 100%;
    border-radius: 0.5rem;
    background-color:#1c4866;
    height:50px;

}

.Mynav ul{
  float:left;
  margin: 10px;
}

.Mynav ul li{
  display:inline-block;
  list-style: none;
}
.Mynav ul li a{
  display:block;
  text-decoration:none;
  padding:none;
  border-radius:10px;
  margin: 0;
  padding:.4em; 
  cursor: pointer;
  color: var(--text-prm);
  
}

.sidemenu-close{
  display:none;
}

.controls{
  display: flex;
  align-items: center;
  float:right;
  margin: 2px;
}

.menu div{
  height: 3px;
  width: 35px;
  margin: 5px;
  background-color: var(--text-prm);
}
.menu {
  display: none;
  float: left;
  margin: 10px;
}  


li:hover{
  background-color: #15354b;
}

.label{
  color:var(--text-prm);
}

input{
  border-color: black;
  border-radius: 7px;
  margin:12px;
  width:100px;
  height:20px;
  color:rgb(0, 0, 0);
}

.bar{
  text-align: center;
  width:2rem;
  background-color: turquoise;
  margin: 2px;
  bottom: 0px;
  transition: 0.2s all ease;
}

.block{
 
  text-align: center;
  background-color: turquoise;
  margin:4px;
  min-width:5rem;
  max-width:5rem;
  min-height: 3rem;
  max-height: 3rem;
  padding: 1rem 0 1rem 0;
  color:black;
  transition: 0.2s all ease;

}

.description{
  position: relative;
  background-color:var(--comp_clr);
  color: var(--text-prm);
  border-radius:0 8px 8px 0;
  box-shadow: 0px 0px 1px 1px #161616;
  left:-100%;
  max-width:35%;
  transition:opacity 0.25s ease-in-out;
  z-index: -1;
}

.complexity{
  margin:20px;
  border-collapse: collapse;
  border:2px solid #989BBE;
  overflow:hidden;
}

.description h3{
  margin:10px 0 0 20px;
  
}
.complexity td{
 padding:5px;
}

.description div{
  padding:10px;
}

.bcontrol{
  display: flex;
}

.customarray{
 display:flex;
 justify-content: space-evenly;
 align-items: center;
  margin:0 0 0 auto;
  border-radius: 8px 0 0 8px;
  width:0%;
  overflow: hidden;
  max-width: 60%;
  background-color:var(--ca_clr);
  color:var(--text-prm);
  transition: all .5s ease-in-out;
}


.customarray h3{
  overflow:hidden;
  margin:1rem 0 0 .5rem;
  transition:width .2s none;
}

.customarray-btn{
  background-color:#4FA99A;
  color:var(--text-prm);
  padding:10px;
  margin-top:2.5rem;
  border: 2px solid black;
  border-radius: 8px;
  min-width:fit-content;
  overflow:hidden;
}

.customarray-btn:hover{
  background-color:#8C61B8;
  box-shadow: 0 0 25px #5F67BF;
}

#custominput{
  margin:1.8rem 0;
}

.arr{
  display: inline-block;
  text-align:center;
  width:4rem;
  height:1.5rem;
  padding:0;
  margin: 5px;
}


.customarray-switch{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-color: var(--ca_clr);
  width:40px;
  margin-left:3px;
}

#openbtn{
  position: absolute;
  color:var(--text-prm);
}

#closebtn{
  visibility:hidden;
  color:var(--text-prm);
}

.log{
  background-color: rgba(255, 254, 257, 1);
  margin:50% 10px 10px 10px;
  border-radius: 8px;
  opacity:0;
  transition: all 0.2s ease-out;
}

.log h2{
  padding:0;
  position:relative;
  margin:2px 0 10px 0;
}
.log h2::before{
  position: absolute;
  content: "";
  width:90%;
  height:10%;
  bottom:0px;
  right:5%;
  background-color:black ;
  z-index: 1; 

}

.log *{
  padding:5px 0 5px 0;
}

.log *:nth-child(even){
  background-color: rgba(200, 200, 202, 1);
  border-radius: 5px;
  
}
.logMobile{
  display:none;
}

@media only screen and (max-width:600px){
  
  .menu{
    display: block;
  }
 .Mynav ul{
   position: fixed;
   height: 100%;
   width: 60%;
   margin: 0;
   left: -100%;
   padding: 50px 0;
   background-color: rgb(48, 40, 40);
   transition: all .25s ease;
   z-index: 99999;
 }

 .Mynav .side{
   padding: 50px 0;
   margin: 50px;
 }

.Mynav ul li{
  display:block;
}
 .Mynav ul li a{
 display:block;
 margin: 0;
 padding:1em 1em;

 }
 #numberofarray input{
   max:60;
 }
 
 .sidemenu-close{
   display:block;
   font-size: 3rem;
   position: absolute;
   top:0%;
   right:10%;
   color:var(--text-prm);
 }
 
 #right-container,#left-container{
  display:none;
 }

 .bcontrol{
   display:block;
 }
 
 .description{
  display:block;
  margin:0 3px;
  min-width:60%;
  border-radius: 5px;
 }
 
 .logMobile{
   display:flex;
   justify-content: space-between;
 }
 
 .log{
   text-align: center;
   margin:0;
   padding:0;
   min-width:40%;
   border-radius: 5px;
 }
 .customarray{
   flex-direction: column;
   min-width:100%;
   margin:3px;
   border-radius: 5px;
 }
 
 .customarray div{
   display:block;
 }
 
 #custominput{
   margin: 1rem 0;
 }
 .customarray-btn{
   display: inline-block;
   margin:5%;
   padding:0;
 } 
 
 
 .customarray-switch{
   display:none;
 }

 
 #container{
   width:80%;
 }
 .block{
  display: inline-block;
  background-color: turquoise;
  margin:.1em;
  min-width:2.5rem;
  max-width:2.5rem;
  min-height:2rem;
  max-height:2rem;
  color:black;
  padding-bottom: 2rem;
  transition: 0.2s all ease;
  text-align: center;
 }
}
