*{
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
  color:white;
}

body{
    background-color:#03061B;
    font-size: 16px;
}
.visual-sec{
  display:block;
}
#container{
  /* background-color: white; */
  display:flex;
  justify-content: center;
  width:60%;
  height: 20rem;
  margin:1rem auto;

}
.Mynav{
    display: flex;
    align-items: center;
    background-color: #1c4866;
    border-radius: 0.5rem;
}

.Mynav ul{
  float:left;
  justify-content: left;
  align-items: center;
  /* flex-direction: right; */
}

.Mynav ul li{
  display:inline;
}

.controls{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
li{
  list-style: none;
  border-radius:10px;
  margin: .7em;
  padding:.4em;
  cursor: pointer;
  /* font-size: 1px; */
  /* background-color: #8B97D5; */
  color:#FFF9F9;
}

li:hover{
  background-color: #15354b;
}

.label{
  background-color:#1c4866 ;
  color:white;
}

input{
  border-color: black;
  border-radius: 7px;
  margin:12px;
  width:100px;
  height:20px;
  padding:5px;
  color:rgb(0, 0, 0);
}

.bar{
  text-align: center;

  width:2rem;
  background-color: turquoise;
  margin: 2px;
  bottom: 0px;
  transition: 0.2s all ease;
}

.block{
 
  text-align: center;
  background-color: turquoise;
  margin:4px;
  min-width:5rem;
  max-width:5rem;
  min-height: 3rem;
  max-height: 3rem;
  padding: 1rem 0 1rem 0;
  color:white;
  transition: 0.2s all ease;

}

.description{
  margin:20px;
  background:linear-gradient(0deg,#101639,#1F2343 40%);
  border-radius:15px;
  box-shadow: 0px 0px 1px 1px #161616;
  padding:2em 1em;
}
.Complexity{
  margin:10px auto;
  font-size: 15px;
  border-collapse: collapse;
  border:2px solid #989BBE;
  width:12rem;
}
.Complexity td{
 padding:5px;
}

section{
  display:flex;
}

.customarray{
  display:block;
  color: white;
}
