:root{
  --ca_clr:rgba(190, 62, 62, 1);
  --comp_clr:rgba(31, 40, 94, 1);
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
  color:white;
}

body{
    background-color:#03061B;
    font-size: 16px;
}
.visual-sec{
  display:block;
}
#container{
  /* background-color: white; */
  display:flex;
  justify-content: center;
  width:60%;
  height: 20rem;
  margin:1rem auto;

}
.Mynav{
   display: flex;
   justify-content: space-between;
    align-items: center;
    background-color: #1c4866;
    border-radius: 0.5rem;
}

.Mynav ul{
  display:flex;
  align-items: center;
  /* flex-direction: right; */
}

.controls{
 display:flex;
  align-items: center;
}


li{
  list-style: none;
  border-radius:10px;
  margin: .7em;
  padding:.4em;
  cursor: pointer;
  /* font-size: 1px; */
  /* background-color: #8B97D5; */
  color:#FFF9F9;
}

li:hover{
  background-color: #15354b;
}

.label{
  background-color:#1c4866 ;
  color:white;
}

input{
  border-color: black;
  border-radius: 7px;
  margin:12px;
  width:100px;
  height:20px;
  padding:5px;
  color:rgb(0, 0, 0);
}

.bar{
  text-align: center;

  width:2rem;
  background-color: turquoise;
  margin: 2px;
  bottom: 0px;
  transition: 0.2s all ease;
}

.block{
 
  text-align: center;
  background-color: turquoise;
  margin:4px;
  min-width:5rem;
  max-width:5rem;
  min-height: 3rem;
  max-height: 3rem;
  padding: 1rem 0 1rem 0;
  color:white;
  transition: 0.2s all ease;

}

.description{

  background-color:var(--comp_clr);
  border-radius:0 15px 15px 0;
  box-shadow: 0px 0px 1px 1px #161616;
  opacity:0;
  max-width:25%;
  transition:opacity 0.25s ease-in-out;
}

.complexity{
  margin:20px;
  border-collapse: collapse;
  border:2px solid #989BBE;
  overflow:hidden;
}

.description h3{
  margin:10px 0 0 20px;
  
}
.complexity td{
 padding:5px;
}

.description div{
  padding:10px;
}

.bcontrol{
  display: flex;
}

.customarray{
 display:flex;
 justify-content: space-evenly;
 align-items: center;
  margin:0 0 0 auto;
  border-radius: 15px 0 0 15px;
  width:0%;
  overflow: hidden;
  max-width: 70%;
  background-color:var(--ca_clr);
  transition: width .5s ease-in-out;
}


.customarray h3{
  overflow:hidden;
  margin-left:16px;
  transition:width .2s none;
}

.customarray-btn{
  color:black;
  background-color:#4FA99A;
  padding:10px;
  margin-top:20px;
  border: 2px solid black;
  border-radius: 8px;
  min-width:fit-content;
  overflow:hidden;
}

.customarray-btn:hover{
  background-color:#8C61B8;
  box-shadow: 0 0 25px #5F67BF;
}

#custominput{
  
}

.arr{
  width:4rem;
}
.customarray-switch{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-color: var(--ca_clr);
  width:40px;
  margin-left:3px;
}

#openbtn{
  position: absolute;
}

#closebtn{
  visibility:hidden;
}
