*{
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
}

body{
    background-color:#26262e;
}

#container{
  /* background-color: white; */
  display: flex;
  justify-content: center;
  padding-top: 15px;
  width: 700px;;
  margin:auto;

}
.Mynav{
    background-color: #1c4866;
}

.Mynav ul{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* flex-direction: right; */
}

li{
  list-style: none;
  border-radius:10px;
  margin: 10px;
  padding:5px;
  cursor: pointer;
  /* font-size: 1px; */
  /* background-color: #8B97D5; */
  color:#FFF9F9;
}

li:hover{
  background-color: #15354b;
}

.label{
  background-color:#1c4866 ;
  color:white;
}

input{
  border-color: black;
  border-radius: 7px;
  margin:12px;
  width:100px;
  height:20px;
  padding:5px;
  color:rgb(0, 0, 0);
}

.block{
  width: 28px;
  background-color: turquoise;
  margin: 2px;
  bottom: 0px;
  transition: 0.2s all ease;
}

.description ul{
 color: white;
}